@model IEnumerable<MBOrder>

@{ 
    ViewBag.Title = "MBOrder";
    Layout = "_AdminLayout";
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr><th>Имя</th><th>Описание</th><th>Количество</th></tr>
        @foreach (MBOrder o in Model)
        {
            <td></td>
            <tr>
                <td colspan="3">@o.Name</td>
                <td>
                    <form asp-action="MarkShipped" method="post">
                        <input type="hidden" name="Id" value="@o.Id" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Принять
                        </button>
                    </form>
                </td>
            </tr>

            @foreach (MBCartLine line in o.Lines)
            {
                <tr>
                    <td colspan="1"></td>
                    <td>@line.MyBox.Name</td><td>@line.Quantity</td>
                    <td></td>
                </tr>
            }

            <tr>
                <th>Адрес</th><th>Номер дома</th><th>Номер подъезда</th><th>Номер квартиры</th>
            </tr>
            <tr>
                <td>@o.Address</td>
                <td>@o.Entrance</td>
                <td>@o.Number</td>
                <td>@o.Apartment</td>
            </tr>
        }
    </table>
}
else
{
    <div class="text-center">Список пуст</div>
}